body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.primerLinea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #35bbea;
    color: white;
    border-bottom: 1px solid grey;
}
.iconos {
    font-size: 1.5rem;
}

.segundaLinea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    border-bottom: 1px solid grey;
}
.segundaLinea > img {
    width: 10%;
}
.login > a {
    text-decoration: none;
    margin-left: 0.5rem;
    color: #000;
}
.iniciarsesion {
    margin-right: 2rem;
}

.segundaLinea > a {
    color: #000;
}
.tercerLinea {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    border-bottom: 1px solid grey;
}
.tercerLinea > a {
    margin-right: 2%;
    text-decoration: none;
    font-weight: 500;
    color: #000;
}
/* fin del header */

/*inicio main-page-wraper */

.main-page-wrapper {
    display: flex;
    margin: 2% 10%;
    height: 500px;
}
.categorias {
    flex-direction: column;
    padding-left: 0;
}
.categorias > li {
    padding: 1rem 8rem 1rem 1rem;
    list-style: none;
    border: 1px solid #000;
    margin-right: 4%;
}
.categorias > li > a {
    text-decoration: none;
    padding-right: 10px;
    color: #000; 
}
.main-page-wrapper > img {
    background-color: black;
    margin-left: 2%;
    flex-grow: 3;
}
.titulo {
    background-color: #35bbea;
    font-weight: 600;
}

/* fin main-page-wraper */
/*inicio ofertas */
.ofertas {
    display: flex;
    margin: 0 10%;
}
.ofertas > img {
    max-width: 49%;
}
.imagen1 {
    padding-right: 1%;
}
.imagen2 {
    padding-left: 1%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #35bbea;
}
.footer2 {
    display: flex;
    flex-direction: column;
}
.footer3 {
    display: flex;
    flex-direction: column;
}
