:root {
    --color--primario: #38baeb;
    --color--secundario: #95bb30;
}
.productos {
    margin: 2rem 10%;
}
.productos > h2 {
    padding-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.5rem;
}
.cards-productos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards-productos {
    text-align: center;
    margin: 5px;
}